Checks: >
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-bad-signal-to-kill-thread,
  bugprone-bitwise-pointer-cast,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-branch-clone,
  bugprone-branches-sibling-conditions,
  bugprone-bug-in-std-algorithm,
  bugprone-buffer-overflow-null,
  bugprone-catch-exception-by-copy,
  bugprone-catch-move-exception,
  bugprone-conditional-return,
  bugprone-deprecated-copy,
  bugprone-double-lock,
  bugprone-exception-escape,
  bugprone-excessive-block-size,
  bugprone-inconsistent-missing-override,
  bugprone-inline-base-class-constructor,
  bugprone-inline-namespace-using,
  bugprone-lambda-function-name,
  bugprone-macro-parentheses,
  bugprone-misplaced-pointer-arithmetic,
  bugprone-misplaced-widening-cast,
  bugprone-multiple-statement-macro,
  bugprone-null-dereference,
  bugprone-parent-virtual-function-call,
  bugprone-redundant-member-init,
  bugprone-reserved-identifier,
  bugprone-return-child-object-by-value,
  bugprone-signed-char-misuse,
  bugprone-string-compare,
  bugprone-string-integer-assignment,
  bugprone-suspicious-include,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-string-concatenation,
  bugprone-suspicious-semicolon,
  bugprone-unhandled-exception-spec,
  bugprone-unhandled-self-assignment,
  bugprone-unused-exception-spec,
  bugprone-unused-return-value,
  bugprone-virtual-method-calls,
  bugprone-virtual-near-miss,
  bugprone-weak-tmpl-ref,
  bugprone-wrong-number-of-template-arguments,
  bugprone-zero-as-null-pointer-constant,
  bugprone-zero-date-time,
  bugprone-zero-length-array,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  readability-braces-around-statements,
  modernize-avoid-bind,
  modernize-avoid-c-arrays,
  modernize-avoid-c-dynamic-array-declarations,
  modernize-avoid-converting-to-absolute,
  modernize-avoid-defaulted-move-constructors,
  modernize-avoid-forward-list,
  modernize-avoid-non-const-global-variables,
  modernize-avoid-range-based-for-loop,
  modernize-avoid-return-by-value,
  modernize-avoid-using-namespace-std,
  modernize-avoid-zero-length-array,
  modernize-concat-delegating-constructors,
  modernize-concat-nested-declarations,
  modernize-concat-public-templates,
  modernize-concat-nested-namespaces,
  modernize-defaulted-move-initializers,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-constraints,
  modernize-use-default-member-init,
  modernize-use-defaulted-functions,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  -modernize-use-trailing-return-type,
  modernize-use-transparent-functors,
  modernize-use-type-alias,
  modernize-use-type-trait,
  modernize-use-union-initialization,
  modernize-use-unqualified-forwarded-function-types,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers
HeaderFilterRegex: '^(include|src|cmd|test)/'
CheckOptions:
  - key:             modernize-use-trailing-return-type.MinTypeNameLength
    value:           '1'
