Checks: >
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-bad-signal-to-kill-thread,
  bugprone-bitwise-pointer-cast,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-branch-clone,
  bugprone-branches-sibling-conditions,
  bugprone-bug-in-std-algorithm,
  bugprone-buffer-overflow-null,
  bugprone-catch-exception-by-copy,
  bugprone-catch-move-exception,
  bugprone-conditional-return,
  bugprone-deprecated-copy,
  bugprone-double-lock,
  bugprone-exception-escape,
  bugprone-excessive-block-size,
  bugprone-inconsistent-missing-override,
  bugprone-inline-base-class-constructor,
  bugprone-inline-namespace-using,
  bugprone-lambda-function-name,
  bugprone-macro-parentheses,
  bugprone-misplaced-pointer-arithmetic,
  bugprone-misplaced-widening-cast,
  bugprone-multiple-statement-macro,
  bugprone-null-dereference,
  bugprone-parent-virtual-function-call,
  bugprone-redundant-member-init,
  bugprone-reserved-identifier,
  bugprone-return-child-object-by-value,
  bugprone-signed-char-misuse,
  bugprone-string-compare,
  bugprone-string-integer-assignment,
  bugprone-suspicious-include,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-string-concatenation,
  bugprone-suspicious-semicolon,
  bugprone-unhandled-exception-spec,
  bugprone-unhandled-self-assignment,
  bugprone-unused-exception-spec,
  bugprone-unused-return-value,
  bugprone-virtual-method-calls,
  bugprone-virtual-near-miss,
  bugprone-weak-tmpl-ref,
  bugprone-wrong-number-of-template-arguments,
  bugprone-zero-as-null-pointer-constant,
  bugprone-zero-date-time,
  bugprone-zero-length-array,
  concurrency-mt-unsafe,
  concurrency-thread-canceltype-asynchronous,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  darwin-avoid-spinlock,
  darwin-dispatch-once-nonstatic,
  google-readability-avoid-underscore-in-googletest-name,
  google-readability-todo,
  google-runtime-float,
  google-runtime-int,
  misc-const-correctness,
  misc-coroutine-hostile-raii,
  misc-definitions-in-headers,
  misc-header-include-cycle,
  misc-include-cleaner,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-misplaced-const,
  misc-multiple-inheritance,
  misc-new-delete-overloads,
  misc-no-recursion,
  misc-non-copyable-objects,
  misc-non-private-member-variables-in-classes,
  misc-overrride-with-different-visibility,
  misc-predictable-rand
  misc-redundant-expression,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  misc-unused-alias-decls,
  misc-unused-parameters,
  misc-unused-using-decls,
  misc-use-anonymous-namespace,
  misc-use-internal-linkage,
  modernize-avoid-bind,
  modernize-avoid-c-arrays,
  modernize-avoid-c-dynamic-array-declarations,
  modernize-avoid-converting-to-absolute,
  modernize-avoid-defaulted-move-constructors,
  modernize-avoid-forward-list,
  modernize-avoid-non-const-global-variables,
  modernize-avoid-range-based-for-loop,
  modernize-avoid-return-by-value,
  modernize-avoid-using-namespace-std,
  modernize-avoid-zero-length-array,
  modernize-concat-delegating-constructors,
  modernize-concat-nested-declarations,
  modernize-concat-public-templates,
  modernize-concat-nested-namespaces,
  modernize-defaulted-move-initializers,
  modernize-deprecated-headers,
  modernize-disallow-call-move,
  modernize-disallow-container-and-adapter-constructors,
  modernize-disallow-copy-and-assign,
  modernize-disallow-global-new-delete,
  modernize-make-shared,
  modernize-make-unique,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-constraints,
  modernize-use-default-member-init,
  modernize-use-designated-initializers,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-integer-sign-comparison,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-ranges,
  modernize-use-scoped-lock,
  modernize-use-starts-ends-with,
  modernize-use-std-format,
  modernize-use-std-numbers,
  modernize-use-std-print,
  -modernize-use-trailing-return-type,
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  performance-avoid-endl,
  performance-enum-size,
  performance-faster-string-find,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-no-int-to-ptr,
  performance-noexcept-move-destructor,
  performance-noexcept-swap,
  performance-trivially-destructible,
  performance-type-promotion-in-math-fn,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  -portability-avoid-pragma-once,
  portability-restrict-system-includes,
  portability-simd-intrinsics,
  portability-std-allocator-const,
  portability-template-virtual-member-function,
  readability-ambiguous-smartptr-reset-call,
  readability-avoid-const-params-in-decls,
  readability-avoid-nested-conditional-operator,
  readability-avoid-return-with-void-value,
  readability-avoid-unconditional-preprocessor-if,
  readability-braces-around-statements,
  readability-const-return-type,
  -readability-convert-member-functions-to-static,
  readability-delete-null-pointer,
  readability-else-after-return,
  readability-function-size,
  -readability-identifier-length,
  readability-identifier-naming,
  readability-implicit-bool-cast,
  readability-inconsistent-function-declarators,
  readability-isolate-declaration,
  -readability-magic-numbers,
  readability-make-member-function-const,
  readability-math-missing-parentheses,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-named-parameter,
  readability-non-const-parameter,
  readability-operators-representation,
  readability-qualified-auto,
  readability-redundant-access-specifiers,
  readability-redundant-casting,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-inline-specifier,
  readability-redundant-member-init,
  readability-redundant-parentheses,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-redundant-typename,
  readability-reference-to-constructed-temporary,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-accessed-through-instance,
  readability-static-definition-in-anonymous-namespace,
  readability-string-compare,
  readability-suspicious-call-argument,
  readability-uniqueptr-delete-release,
  readability-uppercase-literal-suffix,
  readability-use-anyofallof,
  readability-use-concise-preprocessor-directives,
  readability-use-std-min-max,
HeaderFilterRegex: '^(include|src|cmd|test)/'
CheckOptions:
  - key: modernize-use-trailing-return-type.MinTypeNameLength
    value: '1'
