Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -clang-diagnostic-error
HeaderFilterRegex: '^(include|src|cmd|test)/'
CheckOptions:
  - key:             modernize-use-trailing-return-type.MinTypeNameLength
    value:           '16'
